.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    
    
}
.initial_text {
    margin-left: 30%;
}

.bg-container {
    background-image: url("https://res.cloudinary.com/dookgusbq/image/upload/v1735317129/apple_home_uovget.webp");
    height: 60vh;
    background-repeat: repeat;
}

.pre-text-style {
    width: 40%;
    font-size: 25px;
    align-self: center;
}

.button-get-started {
    width: 120px;
    border-radius: 5px;
    border: none;
    height: 50px;
    background-color: rgb(4, 26, 193);
    color:#ffffffff;
    align-self: center;
    
}